.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media screen and (max-width: 767px) {
        grid-template-columns: 1fr;
    }
}

.feature {
    display: grid;
    grid-template-columns: 4.5rem 1fr;
    grid-template-rows: repeat(2, min-content);
    gap: 2.5rem 3rem;
    padding: 7.5rem 4rem;

    @media screen and (max-width: 767px) {
        width: 67%;
        margin: 0 auto;
        padding: 7.5rem 3rem;
    }

    @media(max-width: 700px) {
        width: 80%;
    }

    @media(max-width: 600px) {
        width: 90%;
    }

    @media(max-width: 500px) {
        width: 100%;
    }

    &-img {
        grid-column: 1/2;
        grid-row: 1/-1;
    }

    &-title {
        grid-column: 2/3;
        grid-row: 1/2;
        font-size: 2.2rem;
        font-family: raleway;
    }

    &-text {
        grid-column: 2/3;
        grid-row: 2/3;
        font-size: 1.7rem;
        color: #D8D8D8;
        opacity: .8;
        font-family: opensans;
        line-height: 1.8;
        @media screen and (max-width: 320px) {
            font-size: 1.5rem;
        }
    }

    &-1,
    &-2,
    &-3 {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &-1 {
        background-image: url(../assets/images/feature-bg1.jpg);
    }

    &-2 {
        background-image: url(../assets/images/feature-bg2.jpg);
    }

    &-3 {
        background-image: url(../assets/images/feature-bg3.jpg);
    }
}