@font-face {
    font-family: open-sans;
    src: url(../assets/fonts/OPENSANS-BOLD_0.TTF);
}

@font-face {
    font-family: opensans;
    src: url(../assets/fonts/OPENSANS-REGULAR_0.TTF);
}

@font-face {
    font-family: raleway-medium;
    src: url(../assets/fonts/RALEWAY-BOLD.TTF);
}

@font-face {
    font-family: raleway;
    src: url(../assets/fonts/RALEWAY-MEDIUM.TTF);
}

@font-face {
    font-family: raleway-light;
    src: url(../assets/fonts/RALEWAY-LIGHT.TTF);
}

@font-face {
    font-family: montserrat-bold;
    src: url(../assets/fonts/MONTSERRAT-BOLD.TTF);
}

@font-face {
    font-family: montserrat-regular;
    src: url(../assets/fonts/MONTSERRAT-REGULAR.TTF);
}

@font-face {
    font-family: asap-regular;
    src: url(../assets/fonts/Asap-Regular.ttf);
}

@font-face {
    font-family: asap;
    src: url(../assets/fonts/Asap-Medium.ttf);
}

@font-face {
    font-family: asap-bold;
    src: url(../assets/fonts/Asap-Bold.ttf);
}